<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script>
        $(document).ready(function () {
            reading();
        });

        function reading() {
            $.ajax({
                type: "GET",
                url: "/view",
                data: {},
                success: function (response) {
                    if (response["result"] == "success") {
                        let view_posting = response['view_datas'];
                        for (let i = 0; i < view_posting.length; i++) {
                            let name = view_posting[i]['name'];
                            let title = view_posting[i]['title'];
                            let contents = view_posting[i]['contents'];
                            let pubdate = view_posting[i]['pubdate'];
                            let view = view_posting[i]['view'];

                            let temp_html = `<tr>
                                                <th>제목 : ${title}</th>
                                                <td>작성자 : ${name}</td>
                                                <td>게시일 : ${pubdate}</td>
                                                <td>조회수 : ${view}</td>
                                                <td>내용 : ${contents}</td>
                                            </tr>`
                            $('#view-box').append(temp_html)
                    }
                }
            })
        }
    </script>
<body>

        <tbody id="view-box">
            <tr>
                <th>제목 : 없음</th>
                <td>작성자 : -</td>
                <td>게시일 : 2021.12.31</td>
                <td>조회수 : 0</td>
                <td>내용 : 없음</td>
            </tr>
        </tbody>
        <a href="list.html">목차</a>
</body>
</html>